.about-earthly{
    height: 100%;
    width: 100%;
    // background-color: pink;
    
    h1{
        
        padding: 5rem 40rem;
        // border: 2px solid white;
        font-size: 4rem;
        // font-family: 'Dancing Script', cursive;
        font-family: 'Roboto', sans-serif;
        // font-family: 'Source Sans Pro', sans-serif;
        background-color: rgb(131, 196, 131);
        // text-align: center;
        border-radius: 100rem;
        padding: 2rem 0rem;
        font-size: 4rem;
        text-align: center;
        margin: 4rem 20rem;
    }

    // .transparent{
    //     background-color: red;
    //     width: 100%;
    //     height: 50rem;
    //     z-index: 10;
    //     // position: fixed;
    //     // top: 5rem;
    // }

    p{
        width: 50%;
        font-size: 1.5rem;
        // border: 2px solid white;
        padding: 0 5rem;
        margin: auto;
    }

    .outer-div{
        z-index: 0;
        display: flex;
        // position: fixed;
        top: 5rem;
        // box-sizing: border-box;
        .left-div{
            width: 33%;
            height: 40rem;
            .left{
                // width: 33%;
                // height: 40rem;
                background-color: white;
                opacity: 0.6;
                color: rgb(13, 40, 119);
                font-weight: bold;
                // padding-top: 2rem;
                // box-sizing: border-box;
                
            }
        }
        

        .middle{
            width:50%;
            height: 40rem;
            background-color: skyblue;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

        .right-div{
            width: 33%;
            height: 40rem;
            .right{
                // width: 33%;
                // height: 40rem;
                background-color: yellow;
                color: rgb(13, 40, 119);
                background-color: white;
                opacity: 0.6;
                font-weight: bold;
                // padding-bottom: 1rem;
                // padding-top: 20rem;
            }
        }

        
    }
}