.banner{
    height: 80vh;
    width: 100wh;
    background-color: yellow;
    position: relative;

    video{
        height: 100%;
        width: 100%; 
        object-fit: cover;
        opacity: 0.7;
        box-shadow: 5px 5px 50px 20px yellow;
    }

    .heading{
        position: absolute;
        top: 12%;
        left: 15rem;
        color: rgb(26, 26, 25);
        

        h2{
            font-size: 7rem;
            // font-family: 'Dancing Script', cursive;
            // font-family: 'Roboto', sans-serif;
            font-family: 'Source Sans Pro', sans-serif;
        }
    
        h5{
            font-size: 6rem;
            font-family: 'Source Sans Pro', sans-serif;
        }
    
        h1{
            font-size: 12rem;
            font-family: 'Source Sans Pro', sans-serif;
        }
    }


}